.spacing {
	width: 100%;
}

.size4 {
	margin-bottom: 4px;
}

.size24 {
	margin-bottom: 24px;
}

.size50 {
	margin-bottom: 50px;
}

.size90 {
	margin-bottom: 90px;
}

.size207 {
	margin-bottom: 207px;
}
